#cheat-console {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
}

#cheat-console #input {
    width: 100%;
    color: green;
    background-color: black;
}